<table cellspacing="0" cellpadding="0"
       style="background-color: var(--form-control-bg) ; color: var(--default-font-color) ; font-size: 0.935rem; border: none; width: 468pt; table-layout: fixed;">
    <colgroup>
        <col>
    </colgroup>
    <tbody>
    <tr style="height:52.5pt">
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
    </tr>
    <tr style="height:59.25pt">
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><p dir="ltr"
                                                                                                            style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;">
            <span style="font-size: 24pt; font-family: Roboto, sans-serif; color: rgb(67, 67, 67); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Get 50% OFF!!!</span>
        </p></td>
    </tr>
    <tr style="height:0pt">
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><p dir="ltr"
                                                                                                            style="line-height:1.2;margin-top:0pt;margin-bottom:0pt;">
            <span style="font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><span
                    style="border:none;display:inline-block;overflow:hidden;width:610px;height:611px;"><img
                    src="https://lh3.googleusercontent.com/6kmshHL4Y8HzSeDqsVpcqZJ-hNqnnkBBEuzi80RzonM874JRAbEJU9sR2gMUogboNwaYdXR8a8JH3CYeyQxVraO5sB8lBt79dJPFBR3tSehfcsw2K3VElvV8NCCV0vx9XfYIsgBS"
                    width="610" height="611" style="margin-left:0px;margin-top:0px;"></span></span></p></td>
    </tr>
    <tr style="height:15.75pt">
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
    </tr>
    <tr style="height:0pt">
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><p dir="ltr"
                                                                                                            style="line-height:1.38;text-align: center;margin-top:0pt;margin-bottom:0pt;">
            <span style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(67, 67, 67); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">The majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</span>
        </p><br></td>
    </tr>
    <tr style="height:0pt">
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><p dir="ltr"
                                                                                                            style="line-height:1.38;text-align: center;margin-top:0pt;margin-bottom:0pt;">
            <a style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(74, 134, 232); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;"
               href="#">Service Policy</a><span
                style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(74, 134, 232); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">&nbsp; &nbsp; &nbsp; </span><a
                style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(74, 134, 232); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;"
                href="#">Facebook </a><span
                style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(74, 134, 232); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a
                style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(74, 134, 232); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;"
                href="#">Twitter</a><span
                style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(74, 134, 232); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">&nbsp; &nbsp; &nbsp; </span><a
                style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(74, 134, 232); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;"
                href="{unsubscriber_link}">Unsubscribe</a></p></td>
    </tr>
    <tr style="height:40.5pt">
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
    </tr>
    </tbody>
</table><p><br></p>