<table cellspacing="0" cellpadding="0"
       style="background-color: var(--form-control-bg); color: var(--default-font-color); font-size: 0.935rem; border: none;">
    <colgroup>
        <col width="69">
        <col width="488">
        <col width="67">
    </colgroup>
    <tbody>
    <tr style="height:48.75pt">
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
    </tr>
    <tr style="height:87pt">
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><p dir="ltr"
                                                                                                            style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;">
            <span style="font-size: 24pt; font-family: Roboto, sans-serif; color: rgb(102, 102, 102); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Hire Our</span>
        </p>
            <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span
                    style="font-size: 24pt; font-family: Roboto, sans-serif; color: rgb(102, 102, 102); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Photographer!</span>
            </p></td>
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
    </tr>
    <tr style="height:263.25pt">
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><p dir="ltr"
                                                                                                            style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;">
            <span style="font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><span
                    style="border:none;display:inline-block;overflow:hidden;width:472px;height:315px;"><img
                    src="https://lh3.googleusercontent.com/oxrc6GoRvG3ZdQ_VYtRv7VUEoS8MiyRt6hRAzIWborkBOkUwlayQjDAXMLTz_QURhyAnUNiZ46WEQeXendkxPPhrGnc3UaH48LIAUOlYyQrwIpuLri6Hz_hLq4xYvVOR9MX2Zgvw"
                    width="472" height="315" style="margin-left:0px;margin-top:0px;"></span></span></p></td>
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
    </tr>
    <tr style="height:90pt">
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><p dir="ltr"
                                                                                                            style="line-height:1.38;text-align: center;margin-top:0pt;margin-bottom:0pt;">
            <span style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(67, 67, 67); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</span>
        </p></td>
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
    </tr>
    <tr style="height:39.75pt">
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br>
            <div dir="ltr" style="margin-left:0pt;" align="center">
                <table style="border: none;">
                    <colgroup>
                        <col width="125">
                        <col width="17">
                        <col width="133">
                        <col width="17">
                        <col width="119">
                    </colgroup>
                    <tbody>
                    <tr style="height:47.25pt">
                        <td style="vertical-align:top;background-color:#f4cccc;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;">
                            <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:10pt;margin-bottom:0pt;">
                                <span style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(255, 255, 255); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Wedding</span>
                            </p></td>
                        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;">
                            <br></td>
                        <td style="vertical-align:top;background-color:#c9daf8;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;">
                            <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:10pt;margin-bottom:0pt;">
                                <span style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(255, 255, 255); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Branding</span>
                            </p></td>
                        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;">
                            <br></td>
                        <td style="vertical-align:top;background-color:#cccccc;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;">
                            <p dir="ltr" style="line-height:1.2;text-align: center;margin-top:10pt;margin-bottom:0pt;">
                                <span style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(255, 255, 255); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Designing</span>
                            </p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br></td>
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
    </tr>
    <tr style="height:90pt">
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><p dir="ltr"
                                                                                                            style="line-height:1.38;text-align: center;margin-top:0pt;margin-bottom:0pt;">
            <span style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(67, 67, 67); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">The majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</span>
        </p><br>
            <p dir="ltr" style="line-height:1.38;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span
                    style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(67, 67, 67); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><span
                    style="border:none;display:inline-block;overflow:hidden;width:474px;height:356px;"><img
                    src="https://lh4.googleusercontent.com/aDbMT37_fTrTo0757npC6T_EF5SS5mew0FCF5_85hct8XlGiVuk0cv2EI8oP5gooPOouB_cDePNT0e3NDBl_BVGzndsA7Eu1-CySFoP5WVVA0S-zC0HZDsKRZEG71WaBZAp2VJVL"
                    width="474" height="356" style="margin-left:0px;margin-top:0px;"></span></span></p></td>
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
    </tr>
    <tr style="height:28.5pt">
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><p dir="ltr"
                                                                                                            style="line-height:1.38;text-align: center;margin-top:0pt;margin-bottom:0pt;">
            <a style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(74, 134, 232); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;"
               href="#">Service Policy</a><span
                style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(74, 134, 232); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">&nbsp; &nbsp; &nbsp; </span><a
                style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(74, 134, 232); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;"
                href="#">Facebook </a><span
                style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(74, 134, 232); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a
                style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(74, 134, 232); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;"
                href="#">Twitter</a><span
                style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(74, 134, 232); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">&nbsp; &nbsp; &nbsp; </span><a
                style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(74, 134, 232); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;"
                href="{unsubscriber_link}">Unsubscribe</a>
        </p></td>
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
    </tr>
    <tr style="height:54pt">
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
    </tr>
    </tbody>
</table><p><br></p>
