<table cellspacing="0" cellpadding="0"
       style="background-color: var(--form-control-bg); color: var(--default-font-color); font-size: 0.935rem; border: none;">
    <colgroup>
        <col width="79">
        <col width="463">
        <col width="82">
    </colgroup>
    <tbody>
    <tr style="height:48.75pt">
        <td style="vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;">
            <br></td>
        <td style="vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;">
            <br></td>
        <td style="vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;">
            <br></td>
    </tr>
    <tr style="height:366.75pt">
        <td style="vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;">
            <br></td>
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><p dir="ltr"
                                                                                                            style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;">
            <span style="font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><span
                    style="border:none;display:inline-block;overflow:hidden;width:449px;height:449px;"><img
                    src="https://lh4.googleusercontent.com/OBcbEjcrlf_VpdSxG4ZegYI-bCOMyRmXz6dKkUO0bCrdB44hYZce93wlgX6iAH5tZcD37G8hNkt7kAKF9PfQwYa4UrfImlfuHmkcrRWSNWeB1SVpMz0YpuVTqIUcmPQYScNy63WY"
                    width="449" height="449" style="margin-left:0px;margin-top:0px;"></span></span></p></td>
        <td style="vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;">
            <br></td>
    </tr>
    <tr style="height:49.5pt">
        <td style="vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;">
            <br></td>
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><p dir="ltr"
                                                                                                            style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;">
            <span style="font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><span
                    style="border:none;display:inline-block;overflow:hidden;width:41px;height:41px;"><img
                    src="https://lh3.googleusercontent.com/nszIXlhKynWp4xnXB4HqB7iPt0DPiZjxGqUTwb3R1xij9w1fbo9Ig0l-1gAoCKTxxsXxoefYID_-GVZpoD5zFPmTFRAUL07XpkmGlkVRjtZ47AMJTmhMOSX6GKfOGmS1Y_faOLoU"
                    width="41" height="41" style="margin-left:0px;margin-top:0px;"></span></span></p></td>
        <td style="vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;">
            <br></td>
    </tr>
    <tr style="height:47.25pt">
        <td style="vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;">
            <br></td>
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><p dir="ltr"
                                                                                                            style="line-height:1.2;text-align: center;margin-top:0pt;margin-bottom:0pt;">
            <span style="font-size: 24pt; font-family: Roboto, sans-serif; color: rgb(67, 67, 67); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">We miss you!</span>
        </p></td>
        <td style="vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;">
            <br></td>
    </tr>
    <tr style="height:98.25pt">
        <td style="vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;">
            <br></td>
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><p dir="ltr"
                                                                                                            style="line-height:1.38;text-align: center;margin-top:0pt;margin-bottom:0pt;">
            <span style="font-size: 11pt; font-family: &quot;Times New Roman&quot;; color: rgb(67, 67, 67); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.&nbsp;</span>
        </p></td>
        <td style="vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;">
            <br></td>
    </tr>
    <tr style="height:100.5pt">
        <td style="vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;">
            <br></td>
        <td style="vertical-align:top;background-color:#ffeeee;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;">
            <br>
            <p dir="ltr" style="line-height:1.38;text-align: center;margin-top:0pt;margin-bottom:0pt;">
                <a style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(74, 134, 232); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;"
                   href="#">Facebook</a><span
                    style="font-size: 11pt;font-family: Roboto, sans-serif;/* color: rgb(74, 134, 232); */background-color: transparent;font-variant-numeric: normal;font-variant-east-asian: normal;vertical-align: baseline;white-space: pre-wrap;">  | </span>
                <a style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(74, 134, 232); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;"
                   href="#">Twitter</a>
                <span style="font-size: 11pt;font-family: Roboto, sans-serif;/* color: rgb(74, 134, 232); */background-color: transparent;font-variant-numeric: normal;font-variant-east-asian: normal;vertical-align: baseline;white-space: pre-wrap;">  | </span>
                <a style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(74, 134, 232); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;"
                   href="{unsubscriber_link}">Unsubscribe</a>
                <span style="font-size: 11pt;font-family: Roboto, sans-serif;/* color: rgb(74, 134, 232); */background-color: transparent;font-variant-numeric: normal;font-variant-east-asian: normal;vertical-align: baseline;white-space: pre-wrap;"> | </span>

                <a id="our_app_link" style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(74, 134, 232);
    background-color:
    transparent; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline;
    text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;" href="{app_link}">Our App</a>

                <span style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(74, 134, 232); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"></span>

                <span style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(74, 134, 232); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">&nbsp;&nbsp;</span>
            </p><br>
            <p dir="ltr" style="line-height:1.38;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span
                    style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(153, 153, 153); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">We would like to connect with you at</span><span
                    style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(67, 67, 67); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"> </span><a
                    href="mailto:demo@email.com"><span
                    style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(17, 85, 204); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; text-decoration-line: underline; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">demo@email.com</span></a><span
                    style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(67, 67, 67); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">&nbsp;&nbsp;</span>
            </p>
            <p dir="ltr" style="line-height:1.38;text-align: center;margin-top:0pt;margin-bottom:0pt;"><span
                    style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(153, 153, 153); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Stay safe, stay connected</span><span
                    style="font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(67, 67, 67); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">&nbsp;</span>
            </p><br><br></td>
        <td style="vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;">
            <br></td>
    </tr>
    <tr style="height:48.75pt">
        <td style="vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;">
            <br></td>
        <td style="vertical-align:top;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;"><br></td>
        <td style="vertical-align:top;background-color:#ffffff;padding:5pt 5pt 5pt 5pt;overflow:hidden;overflow-wrap:break-word;">
            <br></td>
    </tr>
    </tbody>
</table>
